<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name = "decription" content="The house price predction system which helps you in the prediction of the house price">
    <meta name = "viewport" content="width = device-width, initial-scale = 1.0"
    <title>HOUSE PRICE PREDCTION SYSTEM</title>
</head>
<body>
    <div class="container">
        <h1>🌱 Get Your Ideal House price predction</h1>

        <form action="/predict" method="POST">
            <label>Bedrooms</label>
            <input type="text" name="Bedrooms" required><br>

            <label>Bathrooms</label>
            <input type="text" name="bathrooms" required><br>

            <label>Sqft_living</label>
            <input type="text" name="sqft_living" required><br>

            <label>Sqft_lot</label>
            <input type="text" name="sqft_lot" required><br>

            <label>Floors</label>
            <input type="text" name="floors" required><br>

            <label>Waterfront</label>
            <input type="text" name="waterfront" required><br>

            <label>View</label>
            <input type="text" name="view" required><br>

            <label>Condition</label>
            <input type="text" name="condition" required><br>

            <label>Grade</label>
            <input type="text" name="grade" required><br>

            <label>Sqft_living15</label>
            <input type="text" name="sqft_living15" required><br>

            <label>Sqft_lot15</label>
            <input type="text" name="sqft_lot15" required><br>

            <button type="submit">Predcit Price</button>
        </form>

        {% if result %}
            <div class="result">{{ result }}</div>
        {% endif %}
    </div>
</body>
</html>
